@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Kdam+Thmor+Pro&display=swap');

#map{
  height:400px;
  width: 100%;
}

h1{
  background-color:rgba(17, 109, 247, 0.747);
  margin: 0 auto;
  color:white;
  text-align:center;
}

*{
  font-weight: bold;
  font-family: 'Inter', sans-serif;
}

button{
  transition-duration: 0.5s;
  background: transparent;
  margin: 10px;
  height:28px;
  border-radius:6px;
  border:2px solid rgb(0, 138, 230);
  cursor:pointer;
}

button:hover{
  background-color:rgb(11, 156, 240);
  color: white;
}

